doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Learn to code in Amsterdam - NYCDA
    link(rel="shortcut icon" href="/assets/img/favicon/favicon.ico")
    link(rel="stylesheet" href="/css/application.css")
    script(src="/js/script.js")
  body
    .lander
      .content
        .row  
          .col-6
            .lander-info
              h1 Study Abroad <br/> in <em>Amsterdam</em>
              p Learn to code or level up your skills at The New York Code + Design Academy. We train both beginner and dedicated developers with hands-on, intensive workshops in web and mobile app development. NYCDA students learn fast, and get the tools to advance their skills even further on their own.
          .col-6
            form
              h2.form-title Request More Information
              .row
                .col-6
                  input(type="text" placeholder="First Name")
                .col-6
                  input(type="text" placeholder="Last Name")
              .row
                .col-12
                  input(type="text" placeholder="Email")
              .row
                .col-12
                  input(type="text" placeholder="Phone")
              .row
                .col-12
                  input(type="submit" value="Tell me more, please!")
                  
    .content-area.strict-height.white
      .content
        h2.no-margin Web Development Intensive
        h4.subtitle 12 Week - Full Time
        p With our Web Development Intensive (WDI), you'll learn both front and back-end development in one all encompassing class. The New York Code + Design Academy's 12-week Web Development Intensive bootcamp in Amsterdam is designed to transform students with no coding experience into entry-level full-stack developers. This hands-on, project-based workshop immerses you in code and develops the skills you need to build dynamic and versatile web applications.
      .content.image(style="background-image:url('http://nycda.com/wp-content/themes/nycda-2015/images/guy-image_biz-dev-lander.png')")
    .content-area.strict-height.brand
      .content.image(style="background-image:url('https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.0.0&ixlib=rb-0.3.5&q=50&w=1300')")
      .content
        h2.no-margin Web Development 100
        h4.subtitle 16 Week - Part Time
        p This 16-week, part-time course backs our belief that anyone can learn to code with an introduction to web design and programming languages in plain English. Web Development 100 is completely beginner focused, empowering students to continue their studies in one of four more advanced tracks.
    .content-area.strict-height.white
      .content
        h2 Learning at B.Amsterdam
        p Our Web Development Intensive is an immersive experience. Take your journey a step further when you study at B.Amsterdam, a modern coworking space in the heart of The Netherlands’ startup capital. You’ll be surrounded by thriving startups, cultural events, and all the amenities you need to stay motivated.
        p B. Amsterdam Johan Huizingalaan 763a 1066 VH Amsterdam Netherlands
        p Monday-Friday 10:00-18:00 Jan 18 - Apr 12 Apr 18 - Jul 15
      .content.image(style="background-image:url('https://images.unsplash.com/photo-1438804507856-d05d2d17e5b7?dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.0.0&ixlib=rb-0.3.5&q=50&w=1300')")    
    .content-area.brand
      .content.info
        h2 What you'll need
        p Students will need a 90-day visa to account for the 12-week course. They will also need to book their own flights to Amsterdam. Students are expected to find a suitable housing option for the duration of their stay. NYCDA will provide a list of possible housing options upon contact if needed. Students must have up-to-date vaccinations before leaving for Amsterdam.
        p A Mac or PC laptop. We'll help you get it set up with all of the software required.
        p The motivation and drive to complete an intense, full-time curriculum.
    .content-area.white
      .content.info
        h2 Tuition
        p The cost of the Web Development Intensive class:
        ul
          li <strong>U.S. student</strong>: $5,500
          li <strong>Amsterdam student</strong>: €4,000
        p: em We believe that everyone should have the opportunity to learn to code, and NYCDA offers a variety of finance options for prospective students.
    .content-area.brand
      .content.info
        h2 Financing
        p Courses at The New York Code + Design Academy are primarily financed in one of two ways:

        p <strong>Students may set up a payment plan with NYCDA without taking out a loan or paying interest</strong>. Tuition is divided into installments, with the balance due before the end of class.
        p Students may apply for a loan with one of our financing partners. ClimbCredit, Affirm, and Pave can offer students a customized payment plan in monthly installments (Note that this option is only available to U.S. students).
        p Other financing partners and plans are available. If you have any questions, please contact <strong>info@nycda.com</strong>.

        p Ready to start coding?
        a(href="#"): strong Fill out an application now.
    .content-area.white
      .content.info
        h2 Transportation

        p There are two main modes of widely used transportation in Amsterdam: public transportation and cycling. Both offer their own distinct advantages and both are simple and easy to use.

        h4 Public Transportation

        p Amsterdam utilizes the public transport chip card (OV-chipkaart) for travel on trams, buses, and metros. GVB day passes provide unlimited travel on the GVB network in Amsterdam (GVB buses, metros, and trams) for a set period of time (1-7 days). Seven day passes will provide the most use and are priced at 32 Euros.

        h4 Cycling

        p Biking provides a healthy, practical, and enjoyable mode of transportation. Amsterdam is extremely bike-friendly with a network of cycle routes and flat landscape. There are bike rentals all over, and for the purpose of safety, many establishments offer brightly-colored bikes to alert pedestrians.
    .content-area.brand
      .content.info
        h2 Weather

        p Weather in Amsterdam is cool and brisk throughout the year. August is the hottest month in Amsterdam with an average temperature of 17°C (63°F) and the coldest is January at 3°C (37°F) with the most daily sunshine hours at 11 in June. The wettest month is November with an average of 90mm of rain. Expect average temperatures of 10°C (50°F) throughout your stay.
    .content-area.white
      .content.info
        h2 Safety

        p Amsterdam is one of the top 25 safest cities in the world, with a much lower crime rate than many other popular European capitals. In large parts of the city, there are always at least a few people out and about, no matter whether it's Saturday night or Wednesday 3am in the morning.
        p Students should be advised of dangers such as:
        ul
          li Pickpockets
          li Bag/Phone snatchers
          li Getting hit by bikes
          li Getting hit by trams
          li Drugs and alcohol
    .content-area.brand.text-center
      .content.info
        h3 The New York Code + Design Academy
        p 90 John Street, Suite 404<br/>New York, NY 10038
        p 1-212-257-8214
        p info@nycda.com
